// large header baner
.title-banner{
	position: relative;
	width: 100%;
	text-align: center;
	
	.logo {
		position: relative;
		height: 30.0rem;
	}

	h1{
		font: 1.3*$font_title_size $font_title_family;
		color: $color_text_kid;
		text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
	}

	.font-skew {
		-moz-transform: matrix( 0.99026806874157,-0.13917310096007,0.13917310096007,0.99026806874157,0,0);
		-webkit-transform: matrix( 0.99026806874157,-0.13917310096007,0.13917310096007,0.99026806874157,0,0);
		-ms-transform: matrix( 0.99026806874157,-0.13917310096007,0.13917310096007,0.99026806874157,0,0);
		transform: matrix( 0.99026806874157,-0.13917310096007,0.13917310096007,0.99026806874157,0,0);
	  }
}	

.title-banner-landscape {
	.logo {
		position:absolute;
		top: 0;
		left: $odznaki_right;
	}
}

  @media (orientation: landscape){  

	.title-banner {

		.logo {
			position:absolute;
			top: 0;
			left: $odznaki_right;
		}
	}
}

 
.title-container {
	position: relative;
	width: 100%;
	text-align: center;





	form.enter {
		display: inline-block;

		button {
			width: 40vw;
			margin: 3vw;
			border: 3px white solid;
			font: 0.8*$font_title_size $font_title_family;
		}
		&.left button { 
			background-color: $color_undone;
			&:hover{background-color: $color_back_parent; color: $color_text_parent;}
		}
		&.right button { 
			background-color: $color_done;
			&:hover{background-color: lighten($color_back_kid,10%); color: $color_text_kid;}
		}
	}
	button{
		border: 3px white solid;
	}
}

